lightning==2.4.0
opencv-python==4.11.0.86
numpy==1.26.2
matplotlib==3.7.1
scikit-learn==1.5.2
scikit-image==0.25.0
pandas==2.1.3
seaborn==0.13.2
tqdm==4.66.5
pyyaml==6.0.2
imageio==2.33.1
moviepy==1.0.3
wandb==0.18.7
kornia==0.8.0
monai==1.4.0
loguru==0.7.2
tensorboard==2.19.0